<!DOCTYPE html>
<html lang="en">
<head>
	 {% extends 'music/base.html' %}
	<meta charset="UTF-8">
    <title> {% block title %} Add a  New Album {% endblock %}</title>
	{% block albums_active %}active{% endblock %}
 
</head>
<body>

	{% block navbody %}

	<div class="container_fluid">

		<div class="row">

			<div class="col-sm-10 col-sm-7">
				<div class="panel panel_default">
					<div class="panel-body">

                      <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                      	{% csrf_token %}
                      	{% include 'music/form-template.html' %}
                      	<div class="form-group">
                      		<div class="col-sm-offset-2 col-sm-8">
                      			<button type="submit" class="btn btn-success">Submit</button>
                      		</div>
                      	</div>
                      </form>

                    </div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}
</body>
</html>